@import 'variables';
@import 'breakpoints';

.debug {
	$parent: &;

	font-size: 90%;
	overflow-x: auto;

	> *:only-child {
		margin-bottom: 0;
	}
}

body.debug {
	[class=''],
	[class=' '] {
		outline: 2px solid red;
		outline-offset: 10px;
	}
}
